@import './config';

.videocontainer {
  margin: 0 auto;
  max-width: $max-width;
  width: 100%;
  height: 900px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  //margin-left: ($gutter / -2);
  //margin-right: ($gutter / -2);
}

video {
  width: 100%;
}

.videooverlay {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
}
