@import './config';

.videocontainer {
  margin: 0 auto;
  max-width: $max-width;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  //margin-left: ($gutter / -2);
  //margin-right: ($gutter / -2);
}

video {
  width: 100%;
  z-index: 1001;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.videooverlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  border-radius: 5px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1002;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlaybutton img {
  width: 3rem;
}



[hidden] {
  display: none;
}
